$button-color: #007bff;
$button-margin: 1em; // 15px
$button-size: 3.5em;

.morph-navigation {
	position: fixed;
	bottom: 0;
	right: 0;
	height: $button-margin*2 + $button-size;
	width: $button-margin*2 + $button-size;

	@include media-breakpoint-up(md){
		display: none;
	}

	.morph-button {
		position: fixed;
		bottom: $button-margin;
		right: $button-margin;
		height: $button-size;
		width: $button-size;
		border-radius: 50%;
		background-color: $button-color;
		display: block;
		// box-shadow: 0 0.625em 1.25em rgba($button-color, 0.2), 0 0.375em 0.75em rgba($button-color, 0.2);
		box-shadow: 0 0 0 0 $button-color, 0 0.625em 1.25em rgba($button-color, 0.2), 0 0.375em 0.75em rgba($button-color, 0.2);
		transition: all 0.30s cubic-bezier(.25,.8,.25,1);
		color: white;
		text-align: center;
		line-height: $button-size;

		&:hover, &:focus {
			outline: none;
		}

		.js--icon {
			animation-duration: 0.25s;
		}
	}

	.morph-items {
		list-style: none;;
		display: flex;
		overflow: hidden;
		left: 0;
		right: 0;
		flex-direction: column;
		justify-content: space-evenly;
		position: absolute;
		top: 0;
		bottom: 100%;
		opacity: 0;
		transition: opacity 0.3s ease-in 0.5s;

		a {
			font-family: $font-display;
			font-size: $font-size-21;
			color: white;		

			&:hover {
				text-decoration: underline;
			}

			&:hover, :focus {
				color: white;
				outline: none;
			}
		}
	}

	&.is-open {
		height: auto;
		width: auto;
		left: 0;
		top: 0;

		.morph-button {
			border-radius: 0;
			box-shadow: 0 0 0 100vmax $button-color;
		}

		.morph-items {
			opacity: 1;
			top: 5%;
			bottom: 5%;
		}
	}
}