#splash-screen {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
        width: 7em;
    }

    p {
        margin-top: 2.5em;
        letter-spacing: 0.4em;
        color: #ccc;
        text-transform: uppercase;
    }
}
