/* Background */

body {
    background-color: $jumbotron-bg; // red; //rgb(233, 236, 239);
}

.container-white {
    background-color: white;
}

/* Logos */

.logo-bgsu {
    height: 1.4em;
}

.logo-mephi {
    height: 2.5em;
}

.logo-osc {
    height: 2.5em;
}

.logo-bhsad {
    height: 2em;
}
