$text-gray: #939EA9;
$font-regular: "roboto", Helvetica, sans-serif;
$font-display: "roboto-slab", Helvetica, sans-serif;
$list-item-spacing: 0.85em;

// General
body {
  -webkit-font-smoothing: antialiased;
}

a {
  transition: color 0.15s ease-in-out;

  svg,
  svg * {
    transition: fill 0.15s ease-in-out;
    fill: $link-color;
  }

  &:hover {
    text-decoration: none;

    svg,
    svg * {
      fill: $link-hover-color;
    }
  }
}

.btn-link:hover,
.btn-link:focus,
.btn-link.focus {
  text-decoration: none;
}

// Font Sizes
$font-size-9: 0.5625em;
$font-size-12: 0.75em;
$font-size-16: 1em;
$font-size-21: 1.3125em;
$font-size-28: 1.75em;
$font-size-37: 2.3125em;
$font-size-50: 3.125em;
$font-size-67: 4.1875em;
$font-size-89: 5.5625em;

.font-size-9 {
  font-size: $font-size-9;
}
.font-size-12 {
  font-size: $font-size-12;
}
.font-size-16 {
  font-size: $font-size-16;
}
.font-size-21 {
  font-size: $font-size-21;
}
.font-size-28 {
  font-size: $font-size-28;
}
.font-size-37 {
  font-size: $font-size-37;
}
.font-size-50 {
  font-size: $font-size-50;
}
.font-size-67 {
  font-size: $font-size-67;
}
.font-size-89 {
  font-size: $font-size-89;
}

/* Headings styling */

h1, .h1 {
    font-size: $font-size-37;
}

h2, .h2 {
    font-size: $font-size-28;
    margin-top: 1.75em;
    margin-bottom: 1em;
}

h3, .h3 {
    font-size: $font-size-21;
    margin-bottom: 1em;
}


h1, h2, h3, .h1, .h2, .h3 {
  font-family: $font-display;
  font-weight: 700;
}

h4, .h4 {
    font-family: $font-regular;
    font-weight: 700;
}

h6, .h6 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: $font-size-12;
  font-weight: 700;
  color: $text-gray;
}

strong,
.strong {
  font-weight: 700;
}

.dash {
  width: 2.25em;
  margin-left: 0;
  border-top-color: $body-color;
}

small, .small {
    font-size: 0.875em;
}

.text-muted {
    color: $text-gray !important;

    a {
      color: $text-gray;
      text-decoration: underline;

      &:hover {
        color: $body-color;
      }
    }
}

ul.spaced, .article-inner ul {
  padding-left: 1em;
}

ol.spaced, .article-inner ol {
  padding-left: 1.9em;
}

.spaced, .article-inner ul, .article-inner ol {
  li {
    margin-top: $list-item-spacing;
    margin-bottom: $list-item-spacing;
    padding-left: $list-item-spacing;
  }
} 
