<!-- <div class="col-sm-6 col-md-4"> -->
    <div class="card mb-4">
        <img src="<%- facility.image %>" class="card-img-top" alt="<%- facility.name %>">
        <div class="card-body">
            <% if (facility.details){ %>
                <p class="card-text"><small><%- facility.details %></small></p>
            <% } %>
        </div>
    </div>
<!-- </div> -->