$heading-colnainer-bg: white;
$border-y-width: 3.68em;
$border-x-width: 2em;

body {
    overflow-x: hidden;
}

.heading-container {
    text-align: center;
    margin-top: 2.2em;
    margin-bottom: 2.2em;

    .heading {
        background-color: $heading-colnainer-bg;
        text-align: center;
        position: relative;    
        display: inline-block;
        padding-left: $border-x-width/2; 
        padding-right: $border-x-width/2; 

        hr {
            width: 2.75em;
            border-top-color: $body-color;
        }
    
        p {
            color: $text-gray;
        }           
    }

    &.has-featured-image {
        overflow-y: hidden;
        overflow-x: visible;

        .heading {
            margin-left: $border-x-width; 
            margin-right: $border-x-width;
    
            &:before {
                content: "";
                position: absolute;
                left: -$border-x-width;
                top: 0;
                border-top: $border-y-width solid transparent;
                border-bottom: $border-y-width solid transparent;
                border-right: $border-x-width solid $heading-colnainer-bg;
            }
    
            &:after {
                content: "";
                position: absolute;
                right: -$border-x-width;
                top: 0;
                border-top: $border-y-width solid transparent;
                border-bottom: $border-y-width solid transparent;
                border-left: $border-x-width solid $heading-colnainer-bg;
            }
    
            @include media-breakpoint-up(sm){
                padding-left: $border-x-width; 
                padding-right: $border-x-width;    
            }
        }        
    }    
}