$menu-padding: 2.2em;

// Orientation of the menu and content

#layout {
    #menu {
        display: none;
    }

    @include media-breakpoint-up(sm) {
        display: flex;
        flex-direction: column;

        #menu {
            display: block;
            position: static;
            text-align: center;
            flex-shrink: 0;
        }

        #content {
            flex-grow: 1;
        }    

        #text-content, footer {
            padding-left: $menu-padding;
            padding-right: $menu-padding;
        }
    }

    @include media-breakpoint-up(xl) {
        flex-direction: row;

        #menu {
            text-align: left;
            width: 21.5em;
        }

        #text-content, footer {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
        }
    } 
}


// Menu styling

#menu {
    padding: $menu-padding;
    background-color: $jumbotron-bg; // red; //rgb(233, 236, 239);
}

.logo {
    height: 4.4em;
}

.menu-slogan {
    color: $text-gray;
    margin-top: 2em;
    margin-bottom: 2.2em;
}

.menu-list-item {
    line-height: 2;
    list-style: none;

    &:before {
        content: "·";
    }
}

.footer-list-item {
    line-height: 2;
    list-style: none;
}

.menu-link, .footer-link {
    color: $body-color;
    white-space: nowrap;

    .icon {
        font-size: 1.1em;
    }

    span {
        text-decoration: underline;
    }

    &:hover {
        color: $link-hover-color;
    }
}

.menu-link {
    padding-left: 1em;
}

@include media-breakpoint-between(sm, lg) {

    .menu-list-item {
        display: inline;
        margin-left: 1.2em;
        margin-right: 1.2em;

        &:before {
            content: "";
        }
    }

    .menu-link {
        padding-left: 0;
    }

    .menu-heading {
        display: none;
    }
}

// Footer 

footer hr {
    border-top: 2px solid #D9E3EA;
}

.footer-list-item {
    display: inline;
    margin-right: 2.4em;

    &:last-child {
        margin-right: 0;
    }
}