.post-thumbnail-wrapper {
    position: relative;
    background-color: $jumbotron-bg;

    img {
        // mix-blend-mode: multiply;
    }

    &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-image: url(../images/thumbnail-mask.png);
        background-position: left top;
        background-size: cover;
    }
}

.post-thumbnail-default {
    width: 100%;
    padding-bottom: 100%;
    background-color: $jumbotron-bg;
}