<!DOCTYPE html>
<html lang="en">
<%- partial('_partial/head') %>
<body id="layout">
	<%- partial('_partial/menu') %>
	<section id="content">
		<%- body %>		
		<%- partial('_partial/footer') %>	
	</section>
</body>
</html>